* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li,
a,
button {
    color: rgb(231, 236, 240);
}

img {
    margin-top: 0cm;
    margin-bottom: 0%;
    width: 150px;
    height: 500;
}

header {
    background: none;
    margin-top: 0%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 5%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    padding-top: 7%;
    list-style: none;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.nav__links li {
    display:inline-block;
    width: 130px;
    height: 100px;
    padding: 5px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #979b9c;
}

button {
    margin-top: -2%;
    margin-bottom: 5%;
    padding: 10px 25px;
    border: none;
    background-color: #606363;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer
}

button:hover {
    transition: all 0.3s ease 0s;
    opacity: 0.8;
}

button:active {
    transition: all 0.3s ease 0s;
    color: #151823;
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    margin-bottom: 0%;
    background-image: url(wxw2.jpg);
    background-size: cover;
   
    
}


i {
    font-size: 1.4rem;
}

.footer {
    padding-block: 5rem;

    background-color: #0c0d0e;
    color: #737375;
    margin-top: 10%;
    margin-bottom: none;
    margin-bottom: 0%;
}

.footer-container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
    resize: horizontal;
    margin-bottom: 0%;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}

.footer-title {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0%;}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-list-item {
    list-style: none;
}

.footer-list-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s;
}

.footer-list-link:hover {
    color: #636363;
}

.footer-divider {
    margin-block: 2.5rem;
    border: none;
    border-top: 1px solid rgba(252, 255, 255, 0.1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-bottom .footer-list {
    flex-direction: row;
}

.Infotext{
    font-size:xx-large;
    color: #ffffff;
    font-weight: 400;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 0%;
    
}
.innert{
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 0%;
    color: #8a8484;
}
.explore{
    margin-left: 10% ;
    margin-bottom: 0%;
    font-size:45px;
    color: #cccdcd;
}


.smallimg{
    margin-left: 1200px;
    margin-top: -00px;
    height: 0;
}
/* .practice{
    margin-top: -358px;
    margin-left: 450px;
} */

.mentornship{
    margin-top: 80px;
}
/* .compete{
    margin-top: -258px;
    margin-left: 450px;
} */
.imgs{
    display:flex;
    margin-left: 250px;
    gap:150px;
    margin-bottom: 250px;
    margin-top: 250px;
}
/* .jobs{
    margin-top: -280px;
    margin-left: 230px;
}  */
 .learn{
     height: 100px;
}
/* .practice{
    margin-left: 25%;
    margin-top: -16.5%;
    margin-bottom: 15.5%;

}*/
.compete{
    /* margin-left: 40%;
    margin-top: -22%;
    margin-bottom: 16.5%; */
} 
/* .jobs{
    margin-left: 55%;
    margin-top: -23%; 
    margin-bottom: 19%;
}*/
.compete:hover{ 
    zoom:110%; 
}