* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    color: #ffff;
  }
body {
    font-family: Arial, sans-serif;
    background-image: url(/Images/wxw2.jpg);    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

#internship-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 50px 0px;
}

.internship-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    
}

.internship-card h2 {
    font-size: 1.2rem;
}

.internship-card p {
    margin-top: 10px;
}

.header {
    height: 80px;
    width: 100%;
    padding: 0% 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.logo {
    width: 10px;
    height: 10px;
    color: black;
    background-color: black;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after {
    content: "";
    background: #889ce7;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.btn {
    background: #889ce7;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}