body {
    background-image: url(/Images/wxw2.jpg);
    background-size: cover;
}

.container {
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.box {
    height: 25vh;
    width: 70vh;
    background-color: rgb(48, 44, 44);
    border-radius: 10px;
}

.box p {
    text-align: center;
    color: rgb(136, 141, 141);
    text-transform: uppercase;
    font-size: larger;
}

.box img{
    margin-left: 14vh;
}